@font-face {
    font-family: "font1";
    src: url(../assets/fonts/Oswald-SemiBold.ttf);
}

@font-face {
    font-family: "font2";
    src: url(../assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "font3";
    src: url(../assets/fonts/Oswald-Regular.ttf);
}
