.galeria h2 {
    padding: 30px 120px;
    font-family: "font1";
    color: $color-h2;
}
#galery {
    img {
    padding-bottom: 20px;
    width: 100%;
}
}
#galeriaFotos {
    img {
    width: 100%;
    height: 350px;
    margin: 20px  0px 15px;
    border-radius: 20px;
    & img:hover {
        opacity: 0.5;
    }                 
}
}