<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../assets/img/logo negro.png" alt="logo" class="logoImg">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="../index.html">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/Discografia.html">DISCOGRAFIA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/Galeria.html">GALERIA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../views/Contacto.html">CONTACTO</a>
                    </li>
                  </ul>
              </div>
            </div>
          </nav>
    </header>
    <main>
        <div id="contacto" class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <h2>
                CONTACTO   
            </h2>
            <h4> Enterate de todas las novedades!</h4>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="card" style="width: 20rem;">
        
                <div class="card-body">
                  <form>
                    <div class="form-group ">
                      <label for="nombre">Nombre:</label>
                      <input class="form-control" id="nombre" type="text" name="nombre"/>
                    </div>
                    <div class="form-group">
                      <label for="email">Email: *</label>
                      <input class="form-control"  id="email" type="text"  required name="email"/>
                    </div>
                    <div class="form-group">
                      <label for="pais">Pais:</label>
                      <input class="form-control"  id="email" type="text" name="pais"/>
                    </div>
                    <button type="submit" class="btn">Registrarme</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div>
      </main>
    <footer class="footer">
        <div class="redes">
            <div>
             <img src="../assets/img/FB_icon-icons.com_65484.png" alt="facebook">
            </div>
            
            <div>
                <img src="../assets/img/Instagram_New_icon-icons.com_69008.png" alt="instagram">
            </div>
            <div>
                <img src="../assets/img/twitter-3_icon-icons.com_50735.png" alt="twitter">
            </div>
            <div>
                <img src="../assets/img/YOUTUBE_icon-icons.com_65487.png" alt="youtube">
            </div>
             <div>
                 <img src="../assets/img/spotify_icon-icons.com_65503.png" alt="spotify">
            </div>
            
            
        </div>
        <h6>TODOS LOS DERECHOS RESERVADOS</h6>

    </footer>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>