<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Discografia</title>
</head>
<body>
    <header class="headerDiscografia">   
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../assets/img/logo negro.png" alt="logo" class="logoImg">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link "  href="../index.html">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../views/Discografia.html">DISCOGRAFIA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../views/Galeria.html">GALERIA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="../views/Contacto.html">CONTACTO</a>
                    </li>
                  </ul>
    
    
              </div>
            </div>
          </nav>
   
    <h2>DISCOGRAFIA </h2>
    </header>
    <main>
        <div id="discografia" class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-4 p-4">
                <img src="../assets/img/lpm.webp" alt="">
                <p> <strong>PARCELS (2018)</strong> </p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 p-4">
                <img src="../assets/img/liv vol 1.webp" alt="">
                <p><strong> LIVE VOL. 1 (2020)</strong></p>
              </div>
              <div class="col-sm-12 col-lg-4 p-4">
                <img src="../assets/img/day night albm.jpg" alt="">
                <p> <strong> DAY/NIGHT (2021)</strong></p>
              </div>
            </div>
          </div>
    
          <section class="videos">
    
          <div class="d-flex flex-column align-items-center bd-highlight mb-3">
            <div ><iframe  src="https://www.youtube.com/embed/_2qsU8FGU_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div ><iframe  src="https://www.youtube.com/embed/e4TFD2PfVPw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div > <iframe  src="https://www.youtube.com/embed/pU6pdNNJM5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
          </div>
    
         </section> 
         </main>

    <footer class="footer">
        <div class="redes">
            <div>
                <img src="../assets/img/FB_icon-icons.com_65484.png" alt="facebook">
            </div>  
            <div>
                <img src="../assets/img/Instagram_New_icon-icons.com_69008.png" alt="instagram">  
            </div>
            <div>
                <img src="../assets/img/twitter-3_icon-icons.com_50735.png" alt="twitter">
            </div>
            <div>
                <img src="../assets/img/YOUTUBE_icon-icons.com_65487.png" alt="youtube">
            </div>
             <div>
                 <img src="../assets/img/spotify_icon-icons.com_65503.png" alt="spotify">
            </div>
            
            
        </div>
        <h6>TODOS LOS DERECHOS RESERVADOS</h6>

    </footer>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>