<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Galeria</title>
</head>
<body>
    <header class="galeria">
        <nav>
            
            <div class="logo">
                <img src="../assets/img/logo negro.png" alt="logo">
            </div> 
                <ul class="menu">
                    
                  <li><a class="item" href="../index.html">HOME</a></li>
                  <li><a class="item" href="../views/Discografia.html">DISCOGRAFIA</a></li>
                  <li><a class="item" href="../views/Galeria.html">GALERIA</a></li>
                  <li><a class="item" href="../views/Contacto.html">CONTACTO</a></li>

                </ul>
        </nav>
    </div>
    <h2>GALERIA </h2>
    </header>
   
    <section id="galery">

    </section>
   <section class="galeria1">
    
    <div>
         <img src="../assets/img/parcels albm1.webp">
    </div>
    <div>
        <img src="../assets/img/spotify.jpg">
    </div>
    <div>
        <img src="../assets/img/Parcels-Contact-Information.jpg">
    </div>
    <div>
        <img src="../assets/img/parcels l.jpg">
    </div>
    <div>
        <img src="../assets/img/Parcels vol 1.jpeg">
    </div>
    <div>
        <img src="../assets/img/Parcels-600.jpg">
    </div>
   </section>

        

   </main>
   <footer class="footer">
    <div class="redes">
        <div>
          
         <img src="../assets/img/FB_icon-icons.com_65484.png" alt="facebook">
            
        </div>
        <img src="../assets/img/Instagram_New_icon-icons.com_69008.png" alt="instagram">
        <div>
            
        </div>
        <div>
            <img src="../assets/img/twitter-3_icon-icons.com_50735.png" alt="twitter">
        </div>
        <div>
            <img src="../assets/img/YOUTUBE_icon-icons.com_65487.png" alt="youtube">
        </div>
         <div>
             <img src="../assets/img/spotify_icon-icons.com_65503.png" alt="spotify">
        </div>
        
        
    </div>
    <h6>TODOS LOS DERECHOS RESERVADOS</h6>

</footer>
    
</body>
</html>